.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: rgb(23, 88, 229);
}
#image {
    width: 400px;
    height: 250px;
}

button {
    margin: 30px;
    padding: 10px;
    background-color:rgb(23, 88, 229);
    color: white;
    border-radius: 12px;
    border: none;
}
#buttonPrice {
    background-color: black;
}
